
.section {
    text-align:left;
    font-size: 3em;
    
  }
img {
    margin-left: 1em;
} 
p {
    margin-left: 1em;
    color: white;
    margin-top: 4em;
    margin-bottom: 5em;
}
.lead{
    margin-left: 2em;
    color: white;
    position: bottom;
    }
#lead1{
    text-align: left;
    }
#lead2{
    margin-left: 820px;
 }
    
.laptop{
    margin-left: 300px;
    margin-right: auto;
    width:50%;
    position: relative;
}
.video1{
    margin-left: 395px;
    margin-right: auto;
    margin-top: 150px;
  position: absolute;
  top: 60px;
  left: 80px;
}
#bg1{
    height:300px;
    width:300px;
}
.zoomout video {
  height: 1100px;
  width: 1100px;
  -webkit-transition: all 2s ease;
  -moz-transition: all 2s ease;
  -ms-transition: all 2s ease;
    transition: all 2s ease;
}
.zoomout video:hover {
  width: 420px;
  height: 420px;
}